{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


<div class="background-login container-fluid">

    <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col-8 col-lg-4">
            <div class="row">

                <form class="login-form" method="post">
                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="col-12 pl-0">

                        

                            <div class="col-12 col-md-11 d-flex justify-content-center align-items-center">
                                <p class="login-logo"></p>
                                <p class="login-title">Iniciar sesión</p>
                            </div>

                       

                    </div>
                    <div class="col-12">
                        <input class="login-input py-2" type="text" value="{{ last_username }}" name="dni" id="inputDni"
                            placeholder="Usuario" required autofocus>
                    </div>
                    <div class="col-12">
                        <input type="password" name="password" id="inputPassword" class="login-input py-2" required
                            placeholder="Contraseña">
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="col-12">
                        <input class="login-submit py-3" type="submit" value="Entrar">
                    </div>

                    <div class="col-12">
                        <input class="login-return py-3" type="button" value="Volver" onclick="location.href= '/'">
                    </div>
                        

                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}