<form method="post" action="{{ path('app_grupos_delete', {'id': grupo.id}) }}" onsubmit="return confirm('Estás seguro/a de eliminarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grupo.id) }}">
    <button class="btn">Delete</button>
</form>
