{% extends 'layout.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block main %}

	<div class="tab-content texto-encabezado" id="nav-tabContent">

		<p>Club de natación formado en 2011. Los integrantes del club tienen una gran experiencia ya que vienen de otros clubs de natación</p>
		<p>Ante la ausencia de un club de natación, muchos maniseros tuvieron que buscar otro club en poblaciones cercanas. En Enero de 2011, un grupo de padres tomó la decisión de formar un club de natación en Manises.</p>
		<p>Con solo 16 nadadores, comenzaros todos las gestiones para poder empezar lo antes posible, gracias a la concejalia de deportes de Manises y a la dirección de la piscina cubierta ya estaba funcionando en tiempo record.</p>

	</div>

	<hr>

	<div id="titulo-equipo">
		<p>Junta</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="card-historia" style="width: 18rem;">
					<img class="card-img-top" src="/img/logo.jpg" alt="Card image cap" height="200px">
					<div class="card-body">
						<h5 class="card-title">Nombre</h5>
						<p class="card-text">Información sobre este personaje como que ha hecho con su vida.</p>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card-historia" style="width: 18rem;">
					<img class="card-img-top" src="/img/logo.jpg" alt="Card image cap" height="200px">
					<div class="card-body">
						<h5 class="card-title">Nombre</h5>
						<p class="card-text">Información sobre este personaje como que ha hecho con su vida.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="titulo-equipo">
		<p>Entrenadores</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="card-historia" style="width: 18rem;">
					<img class="card-img-top" src="/img/logo.jpg" alt="Card image cap" height="200px">
					<div class="card-body">
						<h5 class="card-title">Nombre</h5>
						<p class="card-text">Información sobre este personaje como que ha hecho con su vida.</p>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card-historia" style="width: 18rem;">
					<img class="card-img-top" src="/img/logo.jpg" alt="Card image cap" height="200px">
					<div class="card-body">
						<h5 class="card-title">Nombre</h5>
						<p class="card-text">Información sobre este personaje como que ha hecho con su vida.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="titulo-equipo">
		<p>Nadadores</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="card-historia" style="width: 18rem;">
					<img class="card-img-top" src="/img/logo.jpg" alt="Card image cap" height="200px">
					<div class="card-body">
						<h5 class="card-title">Nombre</h5>
						<p class="card-text">Información sobre este personaje como que ha hecho con su vida.</p>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card-historia" style="width: 18rem;">
					<img class="card-img-top" src="/img/logo.jpg" alt="Card image cap" height="200px">
					<div class="card-body">
						<h5 class="card-title">Nombre</h5>
						<p class="card-text">Información sobre este personaje como que ha hecho con su vida.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm">
				<div class="card-historia" style="width: 18rem;">
					<img class="card-img-top" src="/img/logo.jpg" alt="Card image cap" height="200px">
					<div class="card-body">
						<h5 class="card-title">Nombre</h5>
						<p class="card-text">Información sobre este personaje como que ha hecho con su vida.</p>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card-historia" style="width: 18rem;">
					<img class="card-img-top" src="/img/logo.jpg" alt="Card image cap" height="200px">
					<div class="card-body">
						<h5 class="card-title">Nombre</h5>
						<p class="card-text">Información sobre este personaje como que ha hecho con su vida.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

