{% extends 'layout.html.twig' %}

{% block title %}Hello EquiposController!
{% endblock %}

{% block main %}

	<div class="tab-content texto-encabezado" id="nav-tabContent">

		<p>Club de natación formado en 2011. Los integrantes del club tienen una gran experiencia ya que vienen de otros clubs de natación</p>
		<p>Ante la ausencia de un club de natación, muchos maniseros tuvieron que buscar otro club en poblaciones cercanas. En Enero de 2011, un grupo de padres tomó la decisión de formar un club de natación en Manises.</p>
		<p>Con solo 16 nadadores, comenzaros todos las gestiones para poder empezar lo antes posible, gracias a la concejalia de deportes de Manises y a la dirección de la piscina cubierta ya estaba funcionando en tiempo record.</p>

	</div>
	

	<div class="background-equipo">
	<hr class="separador-top">

		<div class="titulo-seccion">
			Junta Directiva
		</div>

		<div class="container">
			<div class="row row-equipo justify-content-center">

				<div class="col-3">
					<div class="img__wrap">
						<img class="img__img" src="/img/foto-equipo1.jpg" />
						<p class="img__title">PewDiePie</p>
						<p class="img__description">Youtuber de exito.
						<br>Desde el año catapum.</p>
					</div>
				</div>

				<div class="col-3">
					<div class="img__wrap">
						<img class="img__img" src="/img/foto-equipo2.jpg" />
						<p class="img__title">Willyrex</p>
						<p class="img__description">Youtuber de exito, pero menos.
						<br>De mi sagrada ESPAÑITA.</p>
					</div>
				</div>


			</div>
		</div>


		<div class="titulo-seccion">
			Entrenadores
		</div>

		<div class="container">
			<div class="row row-equipo justify-content-center">

				<div class="col-3">
					<div class="img__wrap">
						<img class="img__img" src="/img/foto-equipo4.jpg" />
						<p class="img__title">Mariano Rajoy</p>
						<p class="img__description">Ex-Presidente.
						<br>«Para mí, ser presidente del país es la pera»</p>
					</div>
				</div>

			</div>
		</div>



		<div class="titulo-seccion">
			Nadadores
		</div>

		<div class="container">
			<div class="row row-equipo justify-content-center">

				<div class="col-3">
					<div class="img__wrap">
						<img class="img__img" src="/img/foto-equipo3.jpg" />
						<p class="img__title">Darkk Mane</p>
						<p class="img__description">Youtuber no tan de exito.
						<br>Pero es el puto amo.</p>
					</div>
				</div>

				<div class="col-3">
					<div class="img__wrap">
						<img class="img__img" src="/img/foto-equipo5.jpg" />
						<p class="img__title">Pokachu</p>
						<p class="img__description">Pokemon famoso.
						<br>Electrifica el agua para paralizar a sus rivales y ganar.</p>
					</div>
				</div>

				<div class="col-3">
					<div class="img__wrap">
						<img class="img__img" src="/img/foto-equipo6.jpg" />
						<p class="img__title">Shrek</p>
						<p class="img__description">La leyenda</p>
					</div>
				</div>

			</div>
			<div class="row row-equipo justify-content-center">

				<div class="col-3">
					<div class="img__wrap">
						<img class="img__img" src="/img/foto-equipo7.jpg" />
						<p class="img__title">Joseph Joestar</p>
						<p class="img__description">Holy shit! Is thas a Motherfucking JoJo reference?
						<br>Yes.</p>
					</div>
				</div>

				<div class="col-3">
					<div class="img__wrap">
						<img class="img__img" src="/img/foto-equipo8.png" />
						<p class="img__title">Docker Hub</p>
						<p class="img__description">El rival aferrimo de Aitor.</p>
					</div>
				</div>

			</div>
		</div>

		<hr class="separador-bottom">

	</div>
	
{% endblock %}

