{% extends "base.html.twig" %}

{% block body %}
	<header class="header">
		<nav class="navbar navbar-expand-md nav nav-justified nav-pills nav-tabs fixed-top">
			<a class="navbar-brand pl-lg-5 pl-md-4 pl-sm-3 mr-lg-3 mr-md-2 mr-sm-0" href="{{ path('eventos') }}">
				<img src="/img/logo.jpg" height="50" alt="mdb logo">
				<a>FENIX MANISES</a>
			</a>
			<button class="navbar-toggler bg-white navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto pr-5 pr-lg-5 pr-md-4 pr-sm-0">
				{% set currentPath = app.request.attributes.get('_route') %}
					<li class="nav-item active">
						<a class="nav-link nav-item text-white text-uppercase font-weight-bold {% if currentPath == 'main' %} active{% endif %}" href="{{ path('main') }}">Actividades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-uppercase font-weight-bold {% if currentPath == 'equipo' %} active{% endif %}" href="{{ path('equipo') }}">Equipo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-uppercase font-weight-bold {% if currentPath == 'eventos' %} active{% endif %}" href="{{ path('eventos') }}">Eventos</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div id="wrap">
		<main>
			{% block main %}{% endblock %}
		</main>
	</div>
	<footer
		class="footer absolute-bottom tm-footer text-center">
		<div class="container">
			<div>
				<ul class="list-unstyled text-left">
					<li class="">
						<a class="btn-floating btn-fb mx-1">
							Dirección:
						</a>
					</li>
					<li class="">
						<a class="btn-floating btn-tw mx-1">
							Teléfono:
						</a>
					</li>
					<li class="">
						<a class="btn-floating btn-li mx-1">
							Correo electrónico:
						</a>
					</li>
				</ul>
			</div>
			<div class="ml-auto">
				<ul class="list-unstyled list-inline text-right mb-0">
					<li class="list-inline-item">
						<a class="btn-floating btn-fb mx-1">
							<i class="fab fa-facebook-f fa-2x"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="btn-floating btn-tw mx-1">
							<i class="fab fa-twitter fa-2x"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="btn-floating btn-li mx-1">
							<i class="fab fa-instagram fa-2x"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
{% endblock %}
