{% extends "base.html.twig" %}

{% block body %}
<header class="header">
	<nav class="navbar navbar-expand-md nav nav-justified nav-pills nav-tabs fixed-top">
		<a class="navbar-brand pl-lg-5 pl-md-4 pl-sm-3 mr-lg-3 mr-md-2 mr-sm-0" href="{{ path('eventos') }}">
			<img src="/img/logo.jpg" height="50" alt="mdb logo">
			<a class="titulo-fenixmanises">FENIX MANISES</a>
		</a>
		<button class="navbar-toggler bg-white navbar-light" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto pr-0 pr-lg-5 pr-md-4 pr-sm-0">
				{% set currentPath = app.request.attributes.get('_route') %}
				<li class="nav-item active">
					<a class="nav-link nav-item text-white text-uppercase font-weight-bold {% if currentPath == 'main' %} active{% endif %}"
						href="{{ path('main') }}">Actividades</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white text-uppercase font-weight-bold {% if currentPath == 'equipo' %} active{% endif %}"
						href="{{ path('equipo') }}">Equipo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white text-uppercase font-weight-bold {% if currentPath == 'eventos' %} active{% endif %}"
						href="{{ path('eventos') }}">Eventos</a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div id="wrap">
	<main>
		{% block main %}{% endblock %}
	</main>
</div>

<footer class="footer absolute-bottom pt-4">

	<div class="container-fluid text-center text-md-left principal pt-2">

		<div class="row">

			<div class="col-md-4 mt-md-0 mt-3">
				
				<div class="row d-flex justify-content-center">
					<ul class="list-unstyled">
						<li>
							<strong>Dirección</strong> <br>
							<a>Carrer de les Roses, 22 <br> 46940 Manises, Valencia</a>
						</li>
						<li class="my-2">
							<strong>Email</strong>
							<a>cnfenixmanises@gmail.com</a>
						</li>
						<li>
							<strong>Teléfono</strong>
							<a>666 666 666</a>
						</li>
					</ul>
				</div>
			</div>


			<div class="col-md-4 mb-md-0 mb-3 d-flex justify-content-center align-items-center">
				<a class="navbar-brand" href="#">
					<img src="/img/logoR.png" height="100" alt="mdb logo">
				</a>
			</div>

			<div class="col-md-4 mb-md-0 mb-3 d-flex justify-content-center align-items-center">
				<i class="fab fa-facebook fa-2x" style="color:white"></i>
				<i class="fab fa-twitter fa-2x px-4" style="color:white"></i>
				<i class="fab fa-instagram fa-2x" style="color:white"></i>
			</div>


		</div>
	</div>

</footer>
{% endblock %}