{% extends "base.html.twig" %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-md nav nav-justified nav-pills nav-tabs fixed-top principal">
			<a class="navbar-brand pl-lg-5 pl-md-4 pl-sm-3 mr-lg-3 mr-md-2 mr-sm-0">
				<img class="logo-top" src="/img/logo.jpg" height="50" alt="mdb logo">
				<a>FENIX MANISES</a>
			</a>
			<button class="navbar-toggler bg-white navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto pr-5 pr-lg-5 pr-md-4 pr-sm-0">
					<li class="nav-item active">
						<a class="nav-link nav-item text-white text-uppercase font-weight-bold" href="#">Actividades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-uppercase font-weight-bold" href="#">Equipo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white text-uppercase font-weight-bold" href="#">Eventos</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<main>
		{% block main %}{% endblock %}
	</main>

	<footer class="tm-footer text-center"></footer>
{% endblock %}
