{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid h-100">
	<div class="row h-100">

		<div class="col-12 p-0">
			<header class="header">
				<nav class="navbar nav navbar-expand-lg">
					<div class="row w-100">
						<div class="col-12 col-lg-10 d-flex align-items-center">
							<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
								data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
						

						
							<a class="navbar-brand pl-lg-5 pl-md-4 pl-sm-3 mr-lg-3 mr-md-2 mr-sm-0"
								href="{{ path('main') }}">
								<img src="{{ asset ('logoR.png', 'logos')}}" height="70" alt="mdb logo">
								<h2 id="app">FENIX MANISES</h2>
							</a>
						

						
							
						
</div>
						<div class="col-12 col-md-12 col-lg-2 d-flex align-items-center justify-content-center">
							<h5>Hola usuario *</h5>
						</div>
					</div>
			</header>
		</div>

		<div class="col-12 col-md-12 col-lg-2 nav-vertical navbar-collapse text-center text-lg-left collapse show"
			id="navbarSupportedContent">

			<ul class="nav flex-column p-4">
				<li class="nav-item">
					<a class="nav-link" href="{{path('calendar')}}">Calendario</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Físico</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Tiempos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Editar perfil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Cerrar sesión</a>
				</li>
			</ul>

		</div>

		<div class="col-12 col-md-12 col-lg-10 d-flex justify-content-center" id="wrap">
			<main>
				{% block main %}{% endblock %}
			</main>
		</div>

	</div>

</div>

{% endblock %}