{% extends 'base.html.twig' %}

{% block title %}New WebFotos{% endblock %}

{% block body %}
    <h1>Create new WebFotos</h1>

    {{ include('web_fotos/_form.html.twig') }}

    <a href="{{ path('web_fotos_index') }}">back to list</a>
{% endblock %}
