{% extends 'layout.html.twig' %}

{% block title %}Hello ActividadesController!
{% endblock %}

{% block main %}

	<div class="tab-content" id="nav-tabContent">
		
    Esto es lo que viene siendo actividades.html

	</div>
</div>{% endblock %}
