

@media screen and (max-width: 600px) {

  .actividades {
    font-size: 1.21rem !important;
  }
  .titulo-jb {
    font-size: 3rem !important;
  }

  h2#app{
    font-size: 1.5rem !important;
  }

}

@media screen and (min-width: 601px) {
  .actividades {
    font-size: 1.45rem !important;
  }
  .titulo-jb {
    font-size: 4.5rem !important;
  }
}

header nav{
    background-color: #F23A2E;
    color: #ffffff;
}

.nav-vertical{
    background-color: #000000;
    color: #ffffff;
}

footer{
    background-color: #1c1919;
    color: #ffffff;
}

html,body
{
height:100%;
}

.titulo-fenixmanises{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.65rem !important;
    font-family: Trebuchet MS, sans-serif;
}


/* Eventos y header */

.eventos{
    color: #000000;
}

.nav-link {
  font-size: 0.83rem !important;
}

.nav-link.active{
    background-color: transparent !important;
}

/* General */

.texto-encabezado{
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;

    font-size: 14px;
    font-family: Verdana;
    color: rgb(60, 60, 60);
    font-weight: bold;
}


/* Pagina equipos */

/* Seccion equipo */
.background-equipo{
    background: rgb(243, 243, 243);
}

.separador-top{
    visibility: hidden;
    margin-bottom: 2.5%;
}

.separador-bottom{
    visibility: hidden;
    margin-top: 2.5%;
}

/* Titulos y barras inferiores de Junta, Entrenador y Nadadores */
.titulo-seccion{
    margin: 0 auto;
    padding-top: 10%;
    color: rgb(68, 68, 68); 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 24px; 
    font-weight: 550; 
    line-height: 48px; 
    padding: 0 30px; 
    text-align: center; 
    text-transform: uppercase;

}

.titulo-seccion:after {
    content: ""; 
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 10%;
    padding-top: 2px;
    border-bottom: 2.5px solid #f23a2e;
}

/* Estilos de las imagenes */
.row-equipo{
    margin-top: 5%;
}

.img__wrap {
  margin: 0 auto;
  position: relative;
  height: 317px;
  width: 100%;
  max-width: 350px;
}

.img__img{
  height: 288px;
  width: 100%;
  max-width: 350px;
}

.img__title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 289px;
    text-align: center;
    padding-top: 20%;
    background: rgba(223, 61, 61, 0.72);
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s, visibility .2s;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 40%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description{
    visibility: visible;
    opacity: 1;
}

.img__wrap:hover .img__title{
    visibility: visible;
    opacity: 1;
}

/* Fin pagina equipos */



.text-white {
    color: #fff!important;
}


.carousel-indicators{
    z-index: 1;
}

#wrap
{
min-height: 100%;
padding-top: 70px;
}

main
{
overflow:auto;
}

.jumbotron-fluid{
    background-image: url(/img/jb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    text-align: center;
}

.jumbotron-fluid h1{
    color: #fff;
    font-size: 45pt;
}

figure img {
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .modal {
    display: none; 
    position: fixed;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 600px;
    max-height: 600px;
    height: 70%
  }
  

  .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  

  .close {
    position: relative;
    top: 30px;
    left: 46%;
    float: unset;
    color: #f1f1f1;
    font-size: 90px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #F0050A;
    text-decoration: none;
    cursor: pointer;
  }
  

  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


.nav-vertical a:link, .nav-vertical a:visited{
    color: #ffffff !important;
}
  
.nav-vertical a:hover, .nav-vertical a:active {
     color: #F0050A !important;
}


.card.eventos:hover{
    border-left: 5px;
    border-right: 5px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #F0050A;
    border-style: solid;
}

.header-eventos a{
    text-decoration: none;
    border-style: solid!important;
    border-width: 1px!important;
    
    height: 40px;

}

.header-eventos a:link, .header-eventos a:visited{
    color: #000000!important;
    background-color: rgba(0,0,0,.03) !important;
    border: rgba(0,0,0,.125)!important;
}

.header-eventos a:hover, .header-eventos a.active{
    color: #ffffff !important;
    background-color: #F0050A !important;
    border: #F0050A!important;
}

.rrss i:hover{
  color: #F0050A!important;
}

.muestras{
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-muestra1{
  background-image: url("/img/o.jpg");
}
.img-muestra2{
  background-image: url("/img/g.jpg");
}
.img-muestra3{
  background-image: url("/img/a.png");
}

/*
.carousel figure>img{
  width: 255px;
  height: 255px;

  min-width: 255px !important;
  max-width: 750px !important;
  min-height: 255px !important;
  max-height: 500px !important;
}
*/

.img-ajustado{
  height: 100vh;
  background-image: url(/img/p3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
}

.equipo{
  background-image: url("/img/jbe.jpg") !important;
}

.carousel-indicators li {
    background-color: #F0050A !important;
}
.carousel-indicators{
    position: inherit;
}


/* Pagina Login */

.background-login{
  background-color: grey; 
  width: 100%;
  height: 100%;
}

.login-form{
  width: 100%;
  padding-top: 26px;
  padding-bottom: 26px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  z-index: 1;
}

#login-caja{
  height: 45px;
  width: 15px;
  background-color: #fa4a3d;
  margin-bottom: 5%;
}

@media screen and (max-width: 550px) {
  .login-title{
    font-size: 20px;
  }
}

@media screen and (min-width: 551px) {
  .login-title{
    font-size: 28px;
  }
}

.login-title{
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.login-input{
  width: 80%;
  margin-bottom: 4%;
  background-color: rgb(248, 248, 248);
  border: 0.25px solid rgb(235, 235, 235);
  border-bottom: 2px solid rgb(210, 210, 210);
}

.login-submit{
  width: 80%;
  background-color: #fa4a3d;
  color: rgb(138, 29, 29);
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #f57168;
  border-top: 2px solid #f57168;
  border-bottom: 2px solid #f57168;
  text-transform: uppercase;
}

.login-help{
  font-weight: normal;
  color: grey;
}

.login-href{
  text-decoration: none;
  color: #d83d32;
  font-weight: bold;
}

.login-href:hover{
  text-decoration: none;
  color: #d83d32;
  font-weight: bold;
}