
header nav{
    background-color: #c41218;
    color: #ffffff;
}

.nav-vertical{
    background-color: #000000;
    color: #ffffff;
}

footer{
    background-color: #1f1d1d;
    color: #ffffff;
}

html,body
{
height:100%;
}

.titulo-fenixmanises{
    color: #ffffff;
    font-weight: bold;
    
}


/* Eventos y header */

.eventos{
    color: #000000;
}



.nav-link.active{
    background-color: transparent !important;
}


/* General */

.texto-encabezado{
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;

    font-size: 14px;
    font-family: Verdana;
    color: rgb(60, 60, 60);
    font-weight: bold;
}


/* Paginas equipos */

#titulo-equipo{
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;

    background-color: lightgray;
    border-radius: 25%;
    width: 40%;
}

.card-historia{
    margin: 0 auto;
    margin-top: 5%;
}

.carousel-indicators{
    z-index: 1;
}

#wrap
{
min-height: 100%;
padding-top: 75px;
}

main
{
overflow:auto;
}

.jumbotron-fluid{
    background-image: url(/img/jb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
}

.jumbotron-fluid h1{
    color: #fff;
    font-size: 45pt;
}

figure img {
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .modal {
    display: none; 
    position: fixed;
    z-index: 13; 
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    height: 90%
  }
  

  .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  

  .close {
    position: relative;
    float: right;
    padding-right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  

  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
.nav-vertical a:link, .nav-vertical a:visited{
    color: #ffffff !important;
}
  
.nav-vertical a:hover, .nav-vertical a:active {
     color: #F0050A !important;
}


.card.eventos:hover{
    border-left: 5px;
    border-right: 5px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #F0050A;
    border-style: solid;
}

.header-eventos a{
    text-decoration: none;
    border-style: solid!important;
    border-width: 1px!important;
    
    height: 40px;

}

.header-eventos a:link, .header-eventos a:visited{
    color: #000000!important;
    background-color: rgba(0,0,0,.03) !important;
    border: rgba(0,0,0,.125)!important;
}

.header-eventos a:hover, .header-eventos a.active{
    color: #ffffff !important;
    background-color: #F0050A !important;
    border: #F0050A!important;
}
