
body{
    padding-top: 75px;
}

header nav{
    background-color: #F0050A;
    color: #ffffff;
}

footer{
    background-color: #000000;
    color: #ffffff;
}

html,body
{
height:100%;
}

.titulo-fenixmanises{
    color: #ffffff;
    font-weight: bold;
    
}


/* Eventos y header */

.eventos{
    color: #000000;
}

.header-eventos a{
    color: #000000;
}

.header-eventos a.active{
    background-color: #000000 !important;
    color: #ffffff !important;
}

.nav-link.active{
    background-color: transparent !important;
}


/* Paginas equipos */

.texto-historia{
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;

    font-size: 14px;
    font-family: Verdana;
    color: rgb(60, 60, 60);
    font-weight: bold;
}

#titulo-equipo{
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;

    background-color: lightgray;
    border-radius: 25%;
    width: 40%;
}

.card-historia{
    margin: 0 auto;
    margin-top: 5%;
}


/* Cosas raras del Jumbotron */ 

#wrap
{
min-height: 100%;
}

main
{
overflow:auto;
}

.jumbotron-fluid{
    background-image: url(/img/jb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
}

.jumbotron-fluid h1{
    color: #fff;
    font-size: 45pt;
}