<form method="post" action="{{ path('app_sesion_usuarios_delete', {'id': sesion_usuario.id}) }}" onsubmit="return confirm('Estás seguro/a de eliminarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sesion_usuario.id) }}">
    <button class="btn">Delete</button>
</form>
