{% extends 'layout.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block main %}

	<div class="jumbotron-fluid d-flex justify-content-center align-items-center">

		<div class="container-fluid">

			<h1 class="text-uppercase text-bold">Eslogan</h1>

		</div>

	</div>
	<div class="texto-encabezado">
		<p>El club está inscrito en la federación de la comunidad Valenciana y participa en las ligas provinciales y autonómicas.
		El club ya ha enviado nadadores a los campeonatos de España representando a la Comunidad valenciana en la edad escolar. 
		<br>Gracias al prestigio que nos hemos ganado, el club está creciendo a un gran ritmo
		Algunos de nuestros nadadores compiten a nivel nacional.
		</p>
		<p>Actualmente entrenan en la piscina municipal cubierta de Manises.</p>
	</div>



	<!--Carousel Wrapper-->
	<div
		id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">


		<!--Indicators-->
		<ol class="carousel-indicators">
			<li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
			<li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
			<li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
		</ol>
		<!--/.Indicators-->

		<!--Slides and lightbox-->

		<div class="carousel-inner mdb-lightbox" role="listbox">
			<div id="mdb-lightbox-ui"></div>
			<!--First slide-->
			<div class=" carousel-item active text-center">

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/1.PNG" class="img-fluid" height="165" widht="165">
				</figure>

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/2.PNG" class="img-fluid" height="165" widht="165">
				</figure>

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/3.PNG" class="img-fluid" height="165" widht="165">
				</figure>

			</div>
			<!--/.First slide-->

			<!--Second slide-->
			<div class="carousel-item text-center">

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/4.PNG" class="img-fluid" height="165" widht="165">
				</figure>

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/5.PNG" class="img-fluid" height="165" widht="165">
				</figure>

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/6.PNG" class="img-fluid" height="165" widht="165">
				</figure>

			</div>
			<!--/.Second slide-->

			<!--Third slide-->
			<div class="carousel-item text-center">

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/7.PNG" class="img-fluid" height="165" widht="165">
				</figure>

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/8.PNG" class="img-fluid" height="165" widht="165">
				</figure>

				<figure class="col-md-3 d-md-inline-block">
					<img src="/img/9.PNG" class="img-fluid" height="165" widht="165">
				</figure>
			</div>
			<!--/.Third slide-->
			<div id="myModal" class="modal">
				<span class="close">&times;</span>
				<img class="modal-content">
			</div>
		</div>
		<!--/.Slides-->

	</div>
</div>
<!--/.Carousel Wrapper-->{% endblock %}
