{% extends 'layout.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block main %}

	<div class="view intro-2">
		<div class="full-bg-img">
			<div class="mask rgba-black-strong flex-center">
				<div class="container">
					<div class="white-text text-center wow fadeInUp">
						<h2>This Navbar isn't fixed</h2>
						<h5>When you scroll down it will disappear</h5>
						<br>
						<p>Full page intro with background image will be always displayed in full screen mode, regardless
								<i class="fab fa-facebook-f fa-2x white-text mr-4"> </i>																													              of device
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
