{% extends 'layout.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block main %}

<div class="jumbotron-fluid d-flex justify-content-center align-items-center">

	<div class="container-fluid">

		<h1 class="text-uppercase text-bold">Eslogan</h1>

	</div>

</div>


{% endblock %}