{% extends 'layout.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block main %}

<div class="jumbotron-fluid d-flex justify-content-center align-items-center">

	<div class="container-fluid">

		<h1 class="text-uppercase text-bold titulo-jb">Eslogan</h1>

	</div>

</div>

<div class="container-fluid actividades p-0 m-0">

	<div class="row pl-md-3 h-100 min-vh-100 m-0">

		<div class="col py-5 px-5 align-items-center row justify-content-between m-0">

			<div class="col-12">
				<p class="py-3">
					En <strong>Enero de 2011</strong> un grupo de padres decidieron formar un club de natación en
					Manises,
					el club <strong>Fenix
						Manises</strong> .
				</p>
			</div>

			<div class="col-12">
				<p class="py-3">
					Ante la ausencia de un club de natación en <strong>Manises</strong> muchos maniseros buscaron otro
					club
					en poblaciones cercanas.
				</p>
			</div>

			<div class="col-12">
				<p class="py-3">
					Todas las gestiones fueron realizadas en tiempo record, gracias a la <strong>concejalía de
						deportes</strong> y a la
					dirección de la <strong>Piscina Municipal de Manises</strong>.

				</p>
			</div>

		</div>

		<div class="col m-0 p-0 ">
			<div class="img-ajustado h-100 min-vh-100">

			</div>
		</div>

	</div>

	<div class="row py-3 px-3 px-md-5 align-items-center justify-content-center background-equipo h-100 min-vh-100 m-0">


		<div class="col-6 col-md-9 pt-4 col-xs-6 order-1 order-md-0 mb-5 align-items-center row justify-content-between m-0">

			<div class="col-12">
				<p>
					Gracias al <strong>prestigio</strong> que nos hemos ganado, el club está <strong>creciendo</strong>
					a un
					gran ritmo.
				</p>
			</div>

			<div class="col-12">
				<p>

					El club está inscrito en la federación de la <strong>Comunidad Valenciana</strong> y participa en
					las
					<strong>ligas provinciales y autonómicas</strong>, algunos de nuestros nadadores compiten a<strong>
						nivel nacional</strong> .
				</p>
			</div>

			<div class="col-12">
				<p>
					El club ya ha enviado nadadores a los campeonatos de <strong>España</strong> representando a la
					<strong>Comunidad Valenciana</strong>.
				</p>
			</div>


		</div>



		<div class="col-6 col-md-12 order-0 order-md-1 carousel slide carousel-multi-item mb-3" id="carousel-with-lb"
			data-ride="carousel">

			{% set itemsPerpage = 3 %}
			{% set numPages = imagenes|length / itemsPerpage %}




			<div class="col-md-12 col-s-3 carousel-inner mdb-lightbox" role="listbox">

				<div id="mdb-lightbox-ui"></div>

				{% for i in 1.. numPages %}

				<div class=" carousel-item {% if i == 1 %} active {% endif %} text-center">

					{% for numImg in i * itemsPerpage - itemsPerpage .. i * itemsPerpage - 1 %}

					{% if imagenes[numImg]|spaceless != ''  %}

					<figure class="col-12 col-md-3 d-lg-inline-block">
						<img src="/img/muestra/{{ imagenes[numImg] }}" class="img-fluid">
					</figure>

					{% endif %}

					{% endfor %}

				</div>

				{% endfor %}

				<div id="myModal" class="modal">
					
					<img class="modal-content"><span class="close">&times;</span>
				</div>
			</div>

			<ol class="carousel-indicators ">

				{% for i in 0.. numPages - 1 %}

				<li data-target="#carousel-with-lb" data-slide-to="{{i}}"
					class="{% if i == 0 %} active {% endif %} danger"></li>

				{% endfor %}

			</ol>

		</div>
	</div>
</div>

</div>
{% endblock %}